#navhome {
    background-color: #d3dede;
    position: sticky;
    .photo-profile {
        border-radius: 50%;
        width: 70px;
        height: 60px;
    }
    .search-home {
        width: 400px;
    }
}

#page-home {
    .photo-profile {
        border-radius: 50%;
        width: 40px;
        height: 30px;
    }
    .icon {
        width: 60px;
        height: 30px;
    }
    a {
        text-decoration: none;
        color: black;
        &:hover {
            color: blue;
        }
    }
    .list-group {
        border-right: 2px solid #d3dede;
        height: 100vh;
        position: fixed;
        .list-group-item {
            border-color: #d3dede;
            margin-top: 10px;
        }
    }
    .card-home {
        margin-top: 10px;
        width: 650px;
    }
    .baner-film {
        max-width: 100%;
        width: 50px;
        height: 150px;
    }
}
