@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
    background-image: linear-gradient(to right, #66ffff, #4cffff);
}
.logn-btn {
    padding-left: 40px;
    padding-right: 40px;
    border-color: #00cccc !important;
    color: #0e469a !important;
    &:hover {
        background: #00e5e5 !important;
    }
}

.page-content {
    margin-top: 100px;
    img {
        width: 100px;
        height: 300px;
    }
    .card {
        background-color: #ccffff;
        border-radius: 15px;
        box-shadow: 5px 5px #00ffff;
    }
    .btn-register {
        border-color: #66ffff;
        color: aqua;
        &:hover {
            background: #e5ffff;
        }
    }
}
footer {
    height: 40px;

    line-height: 50px;
    text-align: center;
    @include media-breakpoint-up(md) {
        margin-left: 500px;
        margin-top: 200px;
    }
    @include media-breakpoint-down(md) {
        margin-left: 100px;
    }
    bottom: 0px;
}
